* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* medida del elemento hasta el borde */
}

header {
    width: 100vw; /* según ancho de pantalla */
    height: 70px;
    background-color: antiquewhite;
    padding: 10px;
    display: flex; /* responsive */
    align-items: center;
    font-weight: bold;
}

header nav {
    width: 100vw;
    font-size: 1.5rem;
}

header nav ul {
    list-style-type: none;
    display: flex;
}

header nav ul li {
    margin: 5px;
}

header nav ul li a {
    color: #6b6b6b;
    text-decoration: none;
}

.card {
    border: 1px solid #ccc;
    border-radius: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 5px;
    width: 180px;
    text-align: center;
}

.card p {
    font-size: 10px;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    width: 100vw;
    
}
